@model CarDealersWebApp.Models.Auth.LoginViewModel
@{
    ViewData["Title"] = "Login";
}

<h2>@ViewBag.Title</h2>
<hr />
<br />

@* <form method="post">
    <div class="mb-3 row">
        <div class="form-floating col-md-4">
            <input type="email" class="form-control" id="staticEmail" placeholder="email@example.com" asp-for="Email">
            <span asp-validation-for="Email" class="text-danger"></span>
            <label for="staticEmail" class="col-sm-2 col-form-label px-4">Email</label>
        </div>
    </div>

    <div class="mb-3 row">
        <div class="form-floating col-md-4">
            <input type="password" class="form-control" id="inputPassword" asp-for="Password" placeholder="Password">
            <span asp-validation-for="Password" class="text-danger"></span>
            <label for="inputPassword" class="col-sm-2 col-form-label px-4">Password</label>
        </div>
    </div>

    <button type="submit" class="btn btn-primary mb-3 mt-3">Log In</button>
</form> *@

<div class="container">
    <div class="row justify-content-center align-items-center">
        <!-- Left Column for the Form -->
        <div class="col-md-6">
            <form method="post">
                <div class="mb-3 row">
                    <div class="form-floating col-md-10">
                        <input type="email" class="form-control" id="staticEmail" placeholder="email@example.com" asp-for="Email">
                        <span asp-validation-for="Email" class="text-danger"></span>
                        <label for="staticEmail" class="col-sm-2 col-form-label px-4">Email</label>
                    </div>
                </div>

                <div class="mb-3 row">
                    <div class="form-floating col-md-10">
                        <input type="password" class="form-control" id="inputPassword" asp-for="Password" placeholder="Password">
                        <span asp-validation-for="Password" class="text-danger"></span>
                        <label for="inputPassword" class="col-sm-2 col-form-label px-4">Password</label>
                    </div>
                </div>

                <button type="submit" class="btn btn-primary mb-3 mt-3">Log In</button>
            </form>
        </div>

        <!-- Right Column for the Image -->
        <div class="col-md-6 text-center">
            <img src="@Url.Content("~/Images/Shared/login_logo.jpg")" class="img-fluid" alt="Login Image">
        </div>
    </div>
</div>
